.topnav {
  background-color: #FFCC44;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #A80000;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #A80000;
  color: #FFCC44;
}

.topnav a.active {
  background-color: #A80000;
  color: white;
}

.topnav-right {
  float: right;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(100, 83, 35, );
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.h1center, .h3center {
	text-align: center;
}

.h1center {
	color: #A80000;
	font-size: 4rem;
	margin-bottom: 5px;
}

.h3center {
	margin-top: 0px;
	color: #A80000;
	font-size: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 50%;
}

.himg {
	height: 600px;
	width: 600px;
}

.header {
	font-size: 40px;
	font-weight: bold;
	color: #A80000;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.form-group input {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
  outline: none;
}

#result{
	font-family: 'Roboto', sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#result td, #result th {
	border: 1px solid #ddd;
	padding: 8px;
}

#result tr:nth-child(even){
	background-color: #f2f2f2;
}

#result tr:hover {
	background-color: #ddd;
}

#result th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #A80000;
	color: #FFCC44;
}
