.topnav {
  background-color: #FFCC44;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #A80000;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #A80000;
  color: #FFCC44;
}

.topnav a.active {
  background-color: #A80000;
  color: white;
}

.topnav-right {
  float: right;
}

.header {
	font-size: 40px;
	font-weight: bold;
	color: #A80000;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif, 'arial';
}

.input-group {
	/*Centers the input tag and the h1 tag*/
	text-align: center;
}

button: hover{
	cursor: pointer;
}
