.topnav {
  background-color: #FFCC44;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #A80000;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #A80000;
  color: #FFCC44;
}

.topnav a.active {
  background-color: #A80000;
  color: white;
}

.topnav-right {
	float: right;
}

.create-acc a {
  color: #FFCC44;
  text-decoration: underline;
  font-weight: bold;
  font-size: 12px;
}

.create-acc a:hover {
	color: white;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.box select {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 12px;
	border: none;
	font-size: 16px;
	box-shadow: 0 5px 25px rgba(0,0,0,0.2);
	background-color: #FFCC44;
}

.box::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	pointer-events: none;
}

.box select option {
	padding: 20px;
}

.h1center, .h3center {
	text-align: center;
}

.h1center {
	color: #A80000;
	font-size: 4rem;
	margin-bottom: 5px;
}

.h3center {
	margin-top: 0px;
	color: #A80000;
	font-size: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 50%;
}

.himg {
	height: 600px;
	width: 600px;
}


html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.login-box {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #A80000;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 20px 30px;
  margin-bottom: 50px;
  padding: 0;
  color: #FFCC44;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

/* Adds tiny titles of each field for the form */
/* You need to include the ~ as the styling for the input is dependent on the location of the label tag */
/* General Sibling Combinator - It will select all elements that is preceded by the former selector */
/* So, select all labels that are preceded by the input field */

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FFCC44;
  font-size: 12px;
}

.login-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #A80000;
  color: #FFCC44;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  border: 2px solid white;
  letter-spacing: 4px;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover {
  background: #FFCC44;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #FFCC44,
              0 0 25px #FFCC44,
              0 0 50px #FFCC44,
              0 0 100px ;#FFCC44;
}

