.topnav {
  background-color: #FFCC44;
  overflow: hidden;
  text-decoration: none;
}

.topnav a {
  float: left;
  color: #A80000;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #A80000;
  color: #FFCC44;
  text-decoration: none;
}

.topnav a.active {
  background-color: #A80000;
  color: white;
  text-decoration: none;
}

.topnav-right {
  float: right;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.h1center, .h3center {
	text-align: center;
}

.h1center {
	color: #A80000;
	font-size: 4rem;
	margin-bottom: 5px;
}

.h3center {
	margin-top: 0px;
	color: #A80000;
	font-size: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 50%;
}

.himg {
	height: 600px;
	width: 600px;
}

#staff {
	font-family: 'Roboto', sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#staff td, #staff th {
	border: 1px solid #ddd;
	padding: 8px;
}

/* Make every even child of the staff id to be grey */
/* Makes table look more readable */
#staff tr:nth-child(even){
	background-color: #f2f2f2;
}

#staff tr:hover {
	background-color: #ddd;
}

#staff th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #A80000;
	color: #FFCC44;
}


.box select {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 12px;
	border: none;
	font-size: 16px;
	box-shadow: 0 5px 25px rgba(0,0,0,0.2);
	background-color: #FFCC44;
}

.box select:focus {
	outline: 0;
}

.box::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	pointer-events: none;
}

.box select option {
	padding: 20px;
}

button {
	margin: auto;
	text-align: center;
}
